xml2file.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ownerdetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="detail1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Ownername"/>
              <xs:element type="xs:string" name="Contactno"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="detail2">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Ownername"/>
              <xs:element type="xs:string" name="Contactno"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>